.color-body{
  background-color: #f8f8f8;
  height: 100vh;
}

.font{
  font-family: 'Almarai', sans-serif;
}

.title {
  color: #224f61;
  font-family: 'Almarai';
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 64px;
}

.underline {
  height: 1px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid #b45b32;
}

.btn-1 {
  color: #b45b35;
  font-family: Almarai;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  border: 3px solid  #224f61;
  border-radius: 8px #224f61;
  background-color: white;

}

.btn-1:hover {
  color: white;
  font-family: Almarai;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  border: none;
  border: 3px solid  #b45b35;
  border-radius: 8px #b45b35;
  background-color: #b45b35;
}

.img-item {
  height: 180px;
  width: 252px;
  border-radius: 5px;
}

.item-description {
  color: #8c8c8c;
  font-family: 'Almarai';
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.item-title {
  color: #555555;
  font-family: 'Almarai';
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
}

.card-color{
  background-color: #f8f8f8;

}

.item-price {
  color: #b45b35;
  font-family: 'Almarai';
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
}

.btn-search {
  color: #b45b35;
  border-radius: 3px solid  #b45b35;
  border-radius: 8px;
  background-color: white;
}

.btn-search:hover{
  color: white;
  border-radius: 3px solid  white;
  border-radius: 8px;
  background-color: #b45b35;  
}


.brand-color{
  color: #b45b35;
}